
@{
    ViewBag.Title = "Index";
}

<h3>Welcome to MyApp</h3>
<hr/>

<div class="mn-pg-block" id="Features">
    <h4>Why use MyApp?</h4>
    <br/>
    <p>MyApp Salient Features</p>
    <p>Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
       RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.</p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>
   
    <p><a class="btn btn-primary btn-sml" href="#" role="button">Learn more</a></p>
</div>
<br /><br /><br />
<div class="mn-pg-block" id="Price">
    <h4>Price</h4>
    <br />
    <p>How much MyApp will cost me?</p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>

    <p><a class="btn btn-primary btn-sml" href="#" role="button">Learn more</a></p>
</div>
<br /><br /><br />
<div class="mn-pg-block" id="Clients">
    <h4>Clients</h4>
    <br />
    <p>Who else is using MyApp?</p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>

    <p><a class="btn btn-primary btn-sml" href="#" role="button">Learn more</a></p>
</div>
<br /><br /><br />
<div class="mn-pg-block" id="About">
    <h4>About</h4>
    <br />
    <p>About the team who developed MyApp</p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>

    <p><a class="btn btn-primary btn-sml" href="#" role="button">Learn more</a></p>
</div>
<br /><br /><br />
<div class="mn-pg-block" id="Contact">
    <h4>Contact us</h4>
    <br />
    <p>You could reach us at :</p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>
    <p>
        Partial or RenderPartial methods are used when a model for the page is already populated with all the information. For example in a blog to show an article comment we would like to use Partial or RenderPartial methods since an article information are already populated in the model.
        RenderAction method is used when some information is need to show on multiple pages. Hence partial view should have its own model. For example to category list of articles on each and every page we would like to use RenderAction method since the list of category is populated by different model.
    </p>

    <p><a class="btn btn-primary btn-sml" href="#" role="button">Learn more</a></p>
</div>
